<div class="container" ng-controller="crudExampleController">
    <!-----------------Principal ViewProject------------------->
    <h2 style="text-align: center;">{{title_persons_management_gral}}</h2>
    <div class="card">
        <div class="card-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <ng-include src="'templates/view/includes/header.html'"></ng-include>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control rounded" placeholder="Buscar por ID" aria-label="Search" aria-describedby="search-addon" id="buscar" name="buscar" ng-model="searchingId" ng-minlength="1" ng-maxlength="12" onkeypress="ValidaSoloNumeros()" autocomplete="off" />
                            <button type="button" class="btn btn-primary" ng-disabled="!searchingId" ng-click="personsListAllById()">{{button_title_person_search}}</button>
                        </div>
                    </div><br>
                    <div>
                        <ng-include src="'templates/view/persons_list.html'"></ng-include>
                    </div>
                    <div>
                        <button class="btn btn-primary" style="float: right;" ng-click="openFormPersonCreate()">{{button_title_new_person_create}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ng-include src="'templates/view/includes/footer.html'"></ng-include>
    </footer>
    <!---------------Fin Principal ViewProject----------------->

    <!--------------------Modals Project----------------------->
    <div id="modalFormPersonCreate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center">{{titleFormPersonCreate}}</h4>
                    <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form name="createdPersonForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">{{formPersonName}}</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="formPersonCreate.name" autocomplete="off" ng-change="getInvalidName(formPersonCreate.name)" >
                            <div ng-if="!disabledGetName" class="alert">
                                <div ng-if="!disabledMinlengthName" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                                <div ng-if="!disabledInvalidPatternName" class="errorMessageForm">{{errorMessageInvalidName}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">{{formPersonLastName}}</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" ng-model="formPersonCreate.lastName" autocomplete="off" ng-change="getInvalidLastName(formPersonCreate.lastName)" >
                            <div ng-if="!disabledGetLastName" class="alert">
                                <div ng-if="!disabledMinlengthLastName" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                                <div ng-if="!disabledInvalidPatternLastName" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="male">{{formPersonMale}}</label>
                            <select class="form-control" id="male" name="male" ng-model="formPersonCreate.male">
                                <option value="">Seleccione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="uEmail">{{formPersonEmail}}</label>
                            <input type="text" class="form-control" id="uEmail" name="uEmail" ng-model="formPersonCreate.email" autocomplete="off" ng-change="getInvalidEmail(formPersonCreate.email)" >
                            <div ng-if="!disabledGetEmail" class="alert">
                                <div ng-if="!disabledInvalidPatternEmail" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category">{{formPersonCategory}}</label>
                            <select class="form-control" id="category" name="category" ng-model="formPersonCreate.category">
                                <option value="">Seleccione</option>
                                <option value="{{category.idCategory}}" ng-repeat="category in catsListAll">{{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="cancelPersonCreate()">{{formPersonCancelBtn}}</button>
                        <button type="button" class="btn btn-outline-dark" ng-disabled="!formPersonCreate.name || !formPersonCreate.lastName || !formPersonCreate.male || !formPersonCreate.email || !formPersonCreate.category || !disabledGetName || !disabledMinlengthName || !disabledInvalidPatternName || !disabledGetLastName || !disabledMinlengthLastName || !disabledInvalidPatternLastName || !disabledGetEmail || !disabledInvalidPatternEmail" ng-click="personCreate()">{{formPersonCreateBtn}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalFormPersonEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center">{{titleFormPersonUpdate}}</h4>
                    <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form name="updatedPersonForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editIdPerson">{{formPersonId}}</label>
                            <input type="text" class="form-control" id="editIdPerson" name="editIdPerson" ng-model="formPersonEdit.idPerson" ng-disabled="true" autocomplete="off">
                            <input type="hidden" ng-model="idPersonAntidisabled">
                        </div>
                        <div class="form-group">
                            <label for="editName">{{formPersonName}}</label>
                            <input type="text" class="form-control" id="editName" name="editName" ng-model="formPersonEdit.name" autocomplete="off" ng-change="getInvalidName(formPersonEdit.name)">
                            <div ng-if="!disabledGetName" class="alert">
                                <div ng-if="!disabledMinlengthName" class="errorMessageForm">{{errorMessageMinLengthName}}</div>
                                <div ng-if="!disabledInvalidPatternName" class="errorMessageForm">{{errorMessageInvalidName}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editLastName">{{formPersonLastName}}</label>
                            <input type="text" class="form-control" id="editLastName" name="editLastName" ng-model="formPersonEdit.lastName" autocomplete="off" ng-change="getInvalidLastName(formPersonEdit.lastName)">
                            <div ng-if="!disabledGetLastName" class="alert">
                                <div ng-if="!disabledMinlengthLastName" class="errorMessageForm">{{errorMessageMinLengthLastName}}</div>
                                <div ng-if="!disabledInvalidPatternLastName" class="errorMessageForm">{{errorMessageInvalidLastName}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editMale">{{formPersonMale}}</label>
                            <select class="form-control" id="editMale" name="editMale" ng-model="formPersonEdit.male">
                                <option value="">Seleccione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editEmail">{{formPersonEmail}}</label>
                            <input type="text" class="form-control" id="editEmail" name="editEmail" ng-model="formPersonEdit.email" autocomplete="off" ng-change="getInvalidEmail(formPersonEdit.email)">
                            <div ng-if="!disabledGetEmail" class="alert">
                                <div ng-if="!disabledInvalidPatternEmail" class="errorMessageForm">{{errorMessageInvalidEmail}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editCategory">{{formPersonCategory}}</label>
                            <select class="form-control" id="editCategory" name="editCategory" ng-model="formPersonEdit.category">
                                <option value="">Seleccione</option>
                                <option value="{{category.idCategory}}" ng-repeat="category in catsListAll">{{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="cancelPersonUpdate()">{{formPersonCancelBtn}}</button>
                        <button type="button" class="btn btn-outline-dark" ng-disabled="!formPersonEdit.name || !formPersonEdit.lastName || !formPersonEdit.male || !formPersonEdit.email || !formPersonEdit.category || !disabledGetName || !disabledMinlengthName || !disabledInvalidPatternName || !disabledGetLastName || !disabledMinlengthLastName || !disabledInvalidPatternLastName || !disabledGetEmail || !disabledInvalidPatternEmail" ng-click="personUpdate()">{{formPersonUpdateBtn}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalFormPersonDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <ng-include src="'templates/view/person_confirm_delete.html'"></ng-include>
            </div>
        </div>
    </div>

    <div id="modalFormPersonReadDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <ng-include src="'templates/view/person_details.html'"></ng-include>
            </div>
        </div>
    </div>
    <!------------------End Modals Project--------------------->
</div>
