<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDetails}}</h4>
    <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <p><b>{{formPersonId}}:</b> {{personDetails.idPerson}}</p>
    <p><b>{{formPersonName}}:</b> {{personDetails.name}} {{personDetails.lastName}}</p>
    <p><b>{{formPersonMale}}:</b> {{personDetails.male}}</p>
    <p><b>{{formPersonEmail}}:</b> {{personDetails.email}}</p>
    <p><b>{{formPersonCategory}}:</b> {{personDetails.categoryName}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="closeModalPersonDetails()">{{formPersonDetailsCloseBtn}}</button>
</div>
