<div class="row" ng-init="personsListAll()">
    <table class="table table-content table-hover table-bordered">
        <thead>
            <tr>
                <th>{{grid_table_person_id}}</th>
                <th>{{grid_table_person_name}}</th>
                <th>{{grid_table_person_lastName}}</th>
                <th>{{grid_table_person_male}}</th>
                <th>{{grid_table_person_email}}</th>
                <th>{{grid_table_person_category}}</th>
                <th style="text-align: center;">{{grid_table_person_actions}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in prsListAll">
                <td>{{person.idPerson}}</td>
                <td>{{person.name}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.male}}</td>
                <td>{{person.email}}</td>
                <td>{{person.categoryName}}</td>
                <td align="center">
                    <a ng-click="openModalPersonDetails(person.idPerson)" class="view" title="View" data-toggle="tooltip">
                        <i class="material-icons">&#xE417;</i>
                    </a>
                    <a ng-click="personEdit(person.idPerson)" class="edit" title="Edit" data-toggle="tooltip">
                        <i class="material-icons">&#xE254;</i>
                    </a>
                    <a ng-click="openModalPersonDelete(person.idPerson)" class="delete" title="Delete" data-toggle="tooltip">
                        <i class="material-icons">&#xE872;</i>
                    </a>
                </td>
            </tr>
            <tr ng-if="prsListAll.length == 0">
                <td colspan="7" style="text-align: center; font-weight: bold;">{{messageResponse}}</td>
            </tr>
        </tbody>
    </table>
</div>
