<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{titleFormPersonDelete}}</h4>
    <button type="button" class="close sclick" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    {{textDescriptionModalDeletePerson}}
    <input type="hidden" name="idPersonDel" ng-model="personIdDelete" value="">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancelPersonDelete()">{{formPersonCancelBtn}}</button>
    <button type="button" class="btn btn-outline-dark" ng-click="confirmPersonDelete()">{{formPersonDeleteBtn}}</button>
</div>
